scipy==1.5.4
matplotlib==3.3.3
plotly==4.14.1
numpy==1.19.4
torch==1.7.1
dash_core_components==1.14.1
dash==1.18.1
torchvision==0.8.2
dash_html_components==1.1.1
torchsummary==1.5.1
dash_bootstrap_components==0.11.1
Pillow==9.0.1
pyaudio==0.2.11
pyAudioAnalysis==0.3.6
scikit_learn==0.24.0
umap-learn==0.5.1
tqdm==4.62.2
eyed3==0.9.6
pydub==0.25.1
pandas==1.3.2
sounddevice==0.4.2
